#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.directions {
  height: 40%;
  width: 30%;
  background-color: orange;
  color: rgb(26, 24, 24);
  position: absolute;
  top: 22px;
  bottom: 0;
  right: 22px;
  z-index: 999;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  font-size: .8rem;
  background: #cbafafea;
  padding: 1rem;
}

ul {
  list-style-type: none;
  align-items: left;
}

li::before {
  content: '✨';
  margin-right: .5em;
}

button {
  background-color: teal;
}