#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.directions {
  height: 20%;
  width: 30%;
  background-color: orange;
  color: rgb(26, 24, 24);
  /* font-size: 12px; */
  position: absolute;
  top: 22px;
  /* left: 0; */
  bottom: 0;
  right: 22px;
  z-index: 999;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  font-size: .8rem;
  /* color: rgba(0,0,0,0.6); */
  background: #cbafafea;
  /* padding: 1rem 1.5rem; */
}
